#map {
	margin : 0 auto;
	
}

body{
	<!-- background-color: #EEEDE4; -->
}

h1 {
	position : center;
	text-align: center;
}

a
{
	text-decoration:none;
	
}

div#all,#tableau_bord
{
	text-align:center; 
	border-width: 2px 2px 2px 2px;
	border-style: solid;
	border-color: black;
	width : 300px;
	height: 50px;
	display: inline-block;
	vertical-align:middle;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

/* tooltip */
#tooltip {
    display: none;
    z-index: 999;
/*     position: absolute; */
    padding: 25px;
    background-color: #bbb;
    width: 350px;
    border: 2px solid #999;
    border-radius: 25px;
    height: 350px;
}

#tooltip p {
    margin: 0;
    margin-left: 10px;
    padding: 0;
    text-align: left;
}
#tooltip p:first-of-type {
    margin-left: 0;
  
}
#graph div {
	text-align: center;
}
#graph path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

#graph line {
    stroke: black;
}

#graph text {
    font-family: Arial;
    font-size: 9pt;
}